.index {
    background-image: url("../img/mapa\ Kanto.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    text-align: center;
}


/* los elementos a que se encuentran dentro de un elemento con clase index */

.index a {
    text-decoration: none;
    color: white;
}

span {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 20px 0;
}

img {
    width: 35%;
}


/* gyarados.html */

.gyarados {
    background-color: antiquewhite
}

.gyarados a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: red;
    border-radius: 5px;
}

#enlace {
    text-align: center;
}

image {
    width: 10%;
}

#agua {
    background-color: aqua;
    padding: 3px;
    border-radius: 5px;
}

#volador {
    background-color: blue;
    padding: 3px;
    border-radius: 5px;
}


/* jolteon.html */

.jolteon {
    background-color: blanchedalmond
}

.jolteon a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: red;
    border-radius: 5px;
}

#enlace {
    text-align: center;
}

span {
    background-color: yellow;
    padding: 3px;
    border-radius: 5px;
}


/* media query para el diseño responsive */

@media only screen and (max-width: 600px) {
    .index img,
    .gyarados img {
        width: 100%;
    }
}