<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Gyarados</title>
    <link rel="shortcut icon" href="../img/gyarados.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: antiquewhite
        }
        
        a {
            text-decoration: none;
            color: white;
            padding: 10px;
            background-color: red;
            border-radius: 5px;
        }
    </style>
</head>

<body style="font-family: 'Press Start 2P', cursive;">
    <h1>gyarados</h1>
    <img src="../img/gyarados.png" alt="gyarados">
    <p>tipo: <span style="background-color: aqua; padding: 3px; border-radius: 5px;">agua</span> <span style="background-color: blue; padding: 3px; border-radius: 5px;">volador</span></p>
    <br>
    <p>Descripción:</p>
    <p>Es exageradamente agresivo. El Hiperrayo que lanza por la boca reduce a cenizas todo lo que encuentra.</p>
    <a href="../index.html">Volver a inicio</a>
</body>

</html>