<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | raichu</title>
    <link rel="shortcut icon" href="../img/raichu.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: sandybrown
        }
    </style>
</head>

<body style="font-family: 'Press Start 2P', cursive;">
    <h1>raichu</h1>
    <img src="../img/raichu.png" alt="raichu">
    <p>tipo: <span style="background-color: yellow; padding: 3px; border-radius: 5px;">eléctrico</span></p>
    <br>
    <p>Descripción:</p>
    <p>Su larga cola le sirve como toma de tierra para protegerse a sí mismo del alto voltaje que genera su cuerpo.</p>
    <button><a href="../index.html">Volver a inicio</a></button>
</body>

</html>