<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | snorlax</title>
    <link rel="shortcut icon" href="../img/snorlax.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: wheat
        }
    </style>
</head>

<body style="font-family: 'Press Start 2P', cursive;">
    <h1>snorlax</h1>
    <img src="../img/snorlax.png" alt="snorlax">
    <p>tipo: <span style="background-color: grey; padding: 3px; border-radius: 5px;">normal</span></p>
    <br>
    <p>Descripción:</p>
    <p>No se encuentra satisfecho hasta haber ingerido 400 kg de comida cada día. Cuando acaba de comer, se queda dormido.</p>
    <button><a href="../index.html">Volver a inicio</a></button>
</body>

</html>